<div id="cover-spin"></div>
<style type="text/css">
    #cover-spin {
        position:fixed;
        width:100%;
        left:0;right:0;top:0;bottom:0;
        background-color: rgba(255,255,255,0.7);
        z-index:9999;
        display:block;
    }
    
    @-webkit-keyframes spin {
        from {-webkit-transform:rotate(0deg);}
        to {-webkit-transform:rotate(360deg);}
    }
    
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
    
    #cover-spin::after {
        content:'';
        display:block;
        position:absolute;
        left:48%;top:40%;
        width:40px;height:40px;
        border-style:solid;
        border-color:black;
        border-top-color:transparent;
        border-width: 4px;
        border-radius:50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    var LensAdvisor = {}
    LensAdvisor.$ = $.noConflict(true);
</script>
{{ 'lensadvizor-currencies.js' | asset_url | script_tag | async }}
<script type="text/javascript">
    LensAdvisor.BASE_URL = '{{ shop.metafields.lensadvisor.BASE_URL }}/api'

    LensAdvisor.request = function (method, url, data) {
        var xhttp = new XMLHttpRequest();
        xhttp.open(method, url, false);
        xhttp.send(data);
        return JSON.parse(xhttp.response)
    }

    LensAdvisor.updateCart = function () {
        LensAdvisor.$('#cover-spin').fadeIn('slow')
        LensAdvisor.cart = LensAdvisor.request('GET', '/cart.js')
        const isProcessed = LensAdvisor.isProcessed(LensAdvisor.cart)

        var bundleIds = Array.from(new Set(LensAdvisor.cart.items.map(item => item.properties !== null && item.properties._bundleId)))
        let itemsUpdated = false

        const isDiscountAvailable = LensAdvisor.cart.items.filter(item => item.properties !== null && item.properties._bundleId && item.properties._apply_discount).length > 0

        if (LensAdvisor.settings && LensAdvisor.settings.settings.overideCart && !isDiscountAvailable) {
            LensAdvisor.checkoutUrl = '/checkout?discount=+'
        }

        if (isProcessed) {
            LensAdvisor.$('#cover-spin').fadeOut('slow')
            return false;
        }

        bundleIds = bundleIds.filter(obj => obj)

        bundleIds.forEach(bundleId => {
            const items = LensAdvisor.cart.items.filter(item => item.properties !== null && item.properties._bundleId === bundleId)
            const frame = items.find(item => item.properties._productType === 'frame')
            const lens = items.find(item => item.properties._productType === 'lens' || item.properties._productType === 'resolved_lens')
            const addOns = items.filter(item => item.properties._productType === 'addon')

            if (bundleId !== undefined && (frame === undefined || frame.properties["_unique_identifier"].startsWith('frame_only') === false)) {
                let isRequiredAddOnRemoved = frame === undefined || frame.properties._addOns !== addOns.length;
                let quantity = lens && frame && !isRequiredAddOnRemoved ? frame.quantity : 0

                if (frame && frame.properties._lens_variant_ids && frame.properties._lens_variant_ids.length !== items.filter(item => item.properties._productType === 'lens' || item.properties._productType === 'resolved_lens').length) {
                    quantity = 0
                }

                items.forEach(item => {
                    if (item.properties._productType === 'resolved_lens') {
                        quantity *= 2
                    }
                    if (quantity === 0 || item.quantity !== frame.quantity || item.properties._productType === 'resolved_lens') {
                        LensAdvisor.request('GET', `/cart/change.js?id=${item.key}&quantity=${quantity}`)
                        itemsUpdated = true
                    }
                })
                localStorage.setItem("_la_cart", JSON.stringify(LensAdvisor.request('GET', '/cart.js')))
            }
        })

        if (itemsUpdated) {
            window.location.reload()
        } else {
            LensAdvisor.$('#cover-spin').fadeOut('slow')
        }
    }

    LensAdvisor.isProcessed = function (data) {
        return localStorage.getItem('_la_cart') === JSON.stringify(data)
    }

    LensAdvisor.quantityChangesInCart = function (ns, fetch) {
        if (typeof fetch !== "function") {
            return
        };

        ns.fetch = function () {
            const response = fetch.apply(this, arguments);

            response.then(res => {
                if (
                    [
                        `${window.location.origin}/cart/add.js`,
                        `${window.location.origin}/cart/update.js`,
                        `${window.location.origin}/cart/change.js`,
                        `${window.location.origin}/cart/clear.js`,
                    ].includes(res.url)
                ) {
                    res
                    .clone()
                    .json()
                    .then(data => LensAdvisor.updateCart());
                } else if (res.url.includes("add.js") || res.url.includes("update.js") || res.url.includes("change.js")) {
                    res
                    .clone()
                    .json()
                    .then(data => LensAdvisor.updateCart());
                }
            });
            return response;
        }
    }

    LensAdvisor.$( document ).ready(function (){
        LensAdvisor.quantityChangesInCart(window, window.fetch)
        LensAdvisor.settings = LensAdvisor.request('GET', LensAdvisor.BASE_URL + '/store/settings?page=1&store=' + Shopify.shop)
        LensAdvisor.updateCart()
        if (LensAdvisor.settings && LensAdvisor.settings.settings.overideCart) {
            LensAdvisor.$('form[action="/cart"]').on('submit', function (e) {
                e.preventDefault()
                LensAdvisor.$.ajax({
                    type: 'POST',
                    data: LensAdvisor.$(this).serialize(),
                    url: '/cart/update.js',
                    dataType: 'json',
                    success: function(res) {
                        window.location.href = LensAdvisor.checkoutUrl || '/checkout'
                    }
                });
                return false;
            })
        }
    });

    // Detecting if any ajax call is made on the cart page
    (function() {
        setTimeout(function () {
            var proxied = window.XMLHttpRequest.prototype.send;
            window.XMLHttpRequest.prototype.send = function() {
            //Here is where you can add any code to process the request. 
                //If you want to pass the Ajax request object, pass the 'pointer' below
                var pointer = this
                var intervalId = window.setInterval(function(){
                    if(pointer.readyState != 4){
                        return;
                    }
                    clearInterval(intervalId);
                    if (pointer.responseURL.includes('change.js') && LensAdvisor.products && Object.keys(LensAdvisor.products.length > 0) && LensAdvisor.loaded) {
                        LensAdvisor.$('#cover-spin').fadeIn('slow')
                        LensAdvisor.updateCart()
                    }
                }, 1);//I found a delay of 1 to be sufficient, modify it as you need.
                return proxied.apply(this, [].slice.call(arguments));
            };
        }, 100)
    })();
</script>