{%- assign model_id = product.metafields.lenson.model_id -%}
{%- if model_id -%}
  {%- assign link_prefix = "jonaspaul.page.link" -%}
  {%- assign vto_host = "https://jonas-paul-vto.web.app/" -%}
  {%- assign android_bundle_id = "com.jonaspaul.app" -%}
  {%- assign ios_bundle_id = "com.jonaspaul.app" -%}
  {%- assign ios_store_id = "1556514541" -%}


  {% comment %}
  {%- capture vto_link -%}
  {{ vto_host }}?model={{ model_id }}
  {%- endcapture -%}
  {%- capture vto_link -%}{{ vto_link | strip_newlines }}{%- endcapture -%}
  {% endcomment %}
  {%- assign vto_link = vto_host | append: '?model=' | append: model_id -%}

  {% comment %}
  {%- capture dynamic_link -%}
    https://{{ link_prefix }}/?efr=1
    &link={{ vto_link | url_encode }}
    &apn={{ android_bundle_id }}
    &ibi={{ ios_bundle_id }}
    &isi={{ ios_store_id }}
  {%- endcapture -%}
  {%- capture dynamic_link -%}{{ dynamic_link | strip_newlines }}{%- endcapture -%}
  {% endcomment %}
  {% assign vto_link_encode = vto_link | url_encode %}
  {%- assign dynamic_link = 'https://' | append: link_prefix | append: '/?efr=1' | append: '&link=' | append: vto_link_encode | append: '&apn=' | append: android_bundle_id | append: '&ibi=' | append: ios_bundle_id | append: '&isi=' | append: ios_store_id -%}

  {% comment %}
  {%- capture android_app_url -%}https://play.google.com/store/apps/details?id={{ android_bundle_id }}{%- endcapture -%}
  {%- capture ios_app_url -%}https://apps.apple.com/us/app/id{{ ios_store_id }}{%- endcapture -%}
  {% endcomment %}

  {%- assign android_app_url = 'https://play.google.com/store/apps/details?id=' | append: android_bundle_id -%}
  {%- assign ios_app_url = 'https://apps.apple.com/us/app/id' | append: ios_store_id -%}


  <div id="lenson-link-button" class="pro-btn">
    <a class="button action_button">Virtual Try-On</a>
  </div>

  <script>

    const isAndroid = /android/i.test(navigator.userAgent);
    const isIOS = (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream) || (/Mac/.test(navigator.userAgent) && navigator.maxTouchPoints && navigator.maxTouchPoints > 2);
    const isMobile = !/windows phone/i.test(navigator.userAgent) && (isAndroid || isIOS);

    function getBadgeCode(id, href, img) {
      return (href ? '<a id="' + id + '" href="' + href + '" target="_blank">' + '  <img src="' + img + '">' + '</a>' : '');
    }

    if (isMobile) {
      // Create VTO link
      $('<p style="margin-top: 10px;">Have a device older than iPhoneX or Galaxy S7? <a href="{{ vto_link }}" style="text-decoration: underline;">Try on via Web.</a></p>').insertAfter('#lenson-link-button');
      $('#lenson-link-button').click(function() {
        window.open('{{ dynamic_link }}', '_self');
      });
    } else {
      // Create popup
      const popup = $(
      '<div id="lenson-preview-popup" role="dialog" aria-hidden="true">' +
      '  <div id="lenson-preview-content">' +
      '    <iframe id="lenson-preview-iframe" name="lenson-preview-iframe" allow="camera {{ vto_host }}">' +
      '    </iframe>' +
      '  </div>' +
      '</div>').insertBefore('#lenson-link-button');
      const iframe = $('#lenson-preview-iframe');

      // Create app badges
      // const badgesDiv = $(
      // '<div id="lenson-link">' +
        // getBadgeCode('lenson-android-store-link', '{{ android_app_url }}', '{{ "GooglePlay.png" | asset_img_url: "x50" }}') +
        // getBadgeCode('lenson-ios-store-link', '{{ ios_app_url }}', '{{ "AppStore.png" | asset_img_url: "x50" }}') +
      // '</div>').insertAfter('#lenson-link-button');

      // Link button to popup
      $('#lenson-link-button').click(function() {
        popup.css('display', 'block');
        iframe.attr('src', '{{ vto_link }}');
      });

      $(window).click(function(e) {
        if (e.target == popup[0]) {
          popup.css('display', 'none');
          iframe.attr('src', 'about:blank');
        }
      });
    }

  </script>
{%- endif -%}
