<div class="product__tabs">
    {% assign accoridons = product.description | split: '<b>Details</b>' %}
    {% for item in accoridons %}
        <div class="product__tabs-item">
            <h3>
                {% if forloop.first %}
                    Details
                {% else %}
                    What's included
                {% endif %}
                
                <i class='fa fa-angle-down'></i>
            </h3>
            <div class="content">{{ item }}</div>
        </div>
    {% endfor %}
    {%- comment -%}
    {% if product.metafields.global.details_content != blank and product.metafields.global.details_title != blank %}
        <div class="product__tabs-item">
            <h3>
                {{ product.metafields.global.details_title }}
                <i class='fa fa-angle-down'></i>
            </h3>
            <div class="content">{{ product.metafields.global.details_content }}</div>
        </div>
    {% endif %}

    {% if product.metafields.global.includes_content != blank and product.metafields.global.includes_title != blank %}
        <div class="product__tabs-item">
            <h3>
                {{ product.metafields.global.includes_title }}
                <i class='fa fa-angle-down'></i>
            </h3>
            <div class="content">{{ product.metafields.global.includes_content }}</div>
        </div>
    {% endif %}
    {%- endcomment -%}
</div>

<script>
    const p_tabs = document.querySelectorAll('.product__tabs-item h3');
    p_tabs.forEach(p_tab => {
        p_tab.addEventListener('click', () => {
            if (p_tab.classList.contains('is-active')) {
                p_tabs.forEach(rm_item => {
                    const content = rm_item.parentNode.querySelector('.content');
                    rm_item.classList.remove('is-active');
                    content.classList.remove('is-active');
                });
            } else {
                p_tabs.forEach(rm_item => {
                    const content = rm_item.parentNode.querySelector('.content');
                    rm_item.classList.remove('is-active');
                    content.classList.remove('is-active');
                });
                const content = p_tab.parentNode.querySelector('.content');
                p_tab.classList.add('is-active');
                content.classList.add('is-active');
            }
        });
    });
</script>