#lenson-preview-popup {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#lenson-preview-content {
  position: absolute;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;

  /* 5:3 aspect ratio, 80% of screen */
  width: 80vw;
  height: 48vw;  /* 3/5 * 80 */
  max-height: 80vh;
  max-width: 133.33vh;  /* 5/3 * 80 */

  background-color: #fefefe;
  border: 1px solid #888;
  overflow: hidden;

  line-height: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#lenson-preview-iframe {
  border: none;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
}

#lenson-link {
  margin-top: 25px;
  height: 45px;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 10rem;
}

#lenson-link > * > * {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #lenson-link {
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      width: min-content;
  }
}

@-webkit-keyframes animatetop {
  from { top: -300px; opacity: 0; }
  to { top: 0; opacity: 1; }
}

@keyframes animatetop {
  from { top: -300px; opacity: 0; }
  to { top: 0; opacity: 1; }
}
